NEXT_PUBLIC_SITE_URL=https://rishiathanikar.com
REVALIDATE_SECRET=replace_me
LINK_PREVIEW_SECRET=replace_me

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_VERSION=2025-01-01
SANITY_READ_TOKEN=
SANITY_WRITE_TOKEN=
